<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}" style="color: inherit; text-decoration: none; transition: color 0.5s;">Blandskron</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: inherit; text-decoration: none; transition: color 0.5s;">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" style="color: inherit; text-decoration: none; transition: color 0.5s;">Contact</a>
    </li>
</ul>
